{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended" // uses the recommended rules from the @typescript-eslint/eslint-plugin
    ],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "ignorePatterns": [
        "dist"
    ],
    "rules": {
        "import/prefer-default-export": "off",
        "import/extensions": "off",
        "import/no-unresolved": "off",
        "import/no-cycle": "off",
        "indent": ["error", 4],
        "no-continue": "off",
        "no-param-reassign": "off",
        "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
        "no-restricted-syntax": ["error", "ForInStatement", "LabeledStatement", "WithStatement"],
        "no-underscore-dangle": "off",
        "object-curly-newline": "off",
        "radix": ["error", "as-needed"],
        "semi": ["error", "never"],
        "consistent-return": "off",
        "camelcase": "off",
        "no-nested-ternary": "off",
        "quotes": ["warn", "single"],
        "comma-dangle": ["warn", "always-multiline"],
        "dot-notation": "off",
        "eqeqeq": "warn",
        "brace-style": ["warn"],
        "prefer-arrow-callback": ["warn"],
        "max-len": "off",
        "no-console": ["warn"], // use the provided Homebridge log method instead
        "no-non-null-assertion": ["off"],
        "comma-spacing": ["error"],
        "no-multi-spaces": ["warn", { "ignoreEOLComments": true }],
        "no-trailing-spaces": ["warn"],
        "lines-between-class-members": ["warn", "always", {"exceptAfterSingleLine": true}],
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/member-delimiter-style": ["warn"]
    }
}
